<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT DATA KELAMIN</title>
</head>
<body>
    <header>
        <h1>ADMIN PAGE</h1>
        <a href="{{ url_for('admin' ) }}">  Input🎇  </a> <br><a href="{{ url_for('tampil' ) }}">  Tampil🔍  </a><br> <a href="{{ url_for('logout' ) }}">LOGOUT🐱‍🏍</a>
    </header>
    
    <br>
    {% block konten %}   
    {% endblock %}
</body>
</html>